<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/hotels.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>
    
    <div class="list-mega">
        <h1 class="list-title"><i class="fa-regular fa-star"></i> Donors of the Day! <i class="fa-regular fa-star"></i></h1>        
        <% let counter = 0; %>
        <% donors.forEach((donor, index) => { %>
            <% if (counter % 3 === 0) { %>
                <% if (counter > 0) { %>
                    </div>
                <% } %>
                <div class="hotels-list">
            <% } %>
            <div class="hotel <%= donor.booked ? 'booked' : 'avail' %>">
                <% if (donor.booked) { %>
                    <div class="hotel booked">
                        <p class="hitem"><span class="h-b"><em>Booked From:</em></span></p>
                        <p class="hitem"><span class="h-b">Restaurant Name: </span><%= donor.Name %></p>
                        <p class="hitem"><span class="h-b">Contact Number: </span><%= donor.phone_number %></p><br>
                        <p class="hitem"><span class="h-b"><em>Booked By:</em></span></p>
                        <p class="hitem"><span class="h-b">NGO/Volunteer Name: </span><%= donor.receiver.NGO_Name %></p>
                        <p class="hitem"><span class="h-b">NGO/Volunteer Number: </span><%= donor.receiver.NGO_phone_number %></p>
                    </div>
                <% } else { %>
                    <p class="hitem"><span class="h">Restaurant Name: </span><%= donor.Name %></p>
                    <p class="hitem"><span class="h">Restaurant Address: </span><%= donor.address %></p>
                    <p class="hitem"><span class="h">Serving Quantity: </span><%= donor.serving_quantity %></p>
                    <p class="hitem"><span class="h">Contact Number: </span><%= donor.phone_number %></p>
                    <p class="hitem"><span class="h">Website Link: </span><a href="<%= donor.rest_site %>"><%= donor.rest_site %></a></p>
                    <p class="hitem"><span class="h">Best Before: </span><%= donor.closing_time %></p>
                    <button class="book-food" type="submit"><a href="/receiver-info/<%= donor._id %>">Distribute</a></button>
                <% } %>
            </div>
            <% counter++; %>
        <% }); %>
        
        </div>
    </div>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/74c27236-3b14-45b0-9581-0bb30f2f63d9/webchat/config.js"
        defer></script>
</body>
</html>